<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <button>open modal</button>
      <modal-app>
        <div slot="modal-content">
          <div slot="modal-dismiss" class="dismiss">&times;</div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Dis
            parturient montes nascetur ridiculus mus mauris vitae ultricies.
            Sodales ut etiam sit amet nisl purus in. Ullamcorper sit amet risus
            nullam eget felis eget nunc lobortis. Ornare arcu dui vivamus arcu
            felis bibendum ut tristique et.
          </p>
          <div slot="modal-actions" class="modal-actions">
            <div class="btn-group">
              <button id="cancel-btn">cancel</button>
              <button id="confirm-btn">confirm</button>
            </div>
          </div>
        </div>
      </modal-app>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
