#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.dismiss {
  font-size: 24px;
  display: grid;
  place-items: end;
  cursor: pointer;
}

.modal-actions {
  display: grid;
  place-items: end;
}
